<footer
  class="py-10 bg-white text-center border-t border-neutral-200 text-neutral-700"
>
  <p class="mb-4 text-sm">© Juan David Arias</p>

  <div class="flex justify-center gap-6">
    <a
      href="https://www.linkedin.com/in/juan-david-arias-0818a424b/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <lucide-icon
        [img]="LinkedinIcon"
        class="w-5 h-5 hover:text-blue-600 transition"
      ></lucide-icon>
    </a>
    <!-- <a href="https://github.com/juanarias" target="_blank" aria-label="GitHub">
      <lucide-icon
        [img]="GithubIcon"
        class="w-5 h-5 hover:text-neutral-900 transition"
      ></lucide-icon>
    </a> -->
    <a
      href="https://www.instagram.com/juanarias_115/"
      target="_blank"
      aria-label="Instagram"
    >
      <lucide-icon
        [img]="InstagramIcon"
        class="w-5 h-5 hover:text-pink-500 transition"
      ></lucide-icon>
    </a>
  </div>
</footer>
